body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  height: 100%;
}
 p {
  padding: 0;
  margin: 0;
 }

/* .left-side {
  position: relative;
  flex: 1;
  overflow: hidden;
} */

/* .right-side {
  flex:1;
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
} */

.login-box {
  width: 70%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.login-button {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #3B9AB8;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 10px;
  padding: 13px 10px;
  cursor: pointer;
}


.last-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.last-row button {
  width: 100px;
  padding: 8px 10px;
  padding-top: 10px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}

.inactive {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #284d59;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 10px;
  padding: 13px 10px;
  cursor: not-allowed;
}

/* .container-full {
  display: flex;
  height: 100vh;
} */

/* .background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
} */

.bottom-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
  z-index: 1;
}

.disabled {
  background-color: #325965 !important;
  cursor: not-allowed;
}

.main-content {
  display: none;
  opacity: 0;
}

.main-content.active {
  display: block;
  opacity: 1;
}


/* Media query hiện tại của bạn sẽ hoạt động sau khi loại bỏ inline style */
/* @media (max-width: 900px) {
  .left-side {
      display: none !important;
  }
  .right-side {
      flex: 1 !important;
  }
} */

@media (min-width: 1300px) {
  .login-box {
    padding-left: 40px;
    padding-right: 40px;
  }
}