.info p {
  font-size: 1.2em;
}
.custom-img-wrapper::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  border: 5px solid #F05423;
  z-index: -1;
}
