<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <footer class="mt-5">
      <div class="container pt-3">
        <h3 class="text-start">JK Keyboard</h3>
        <div class="row align-items-center">
          <div class="col-12 col-md-6 text-start">
            <p>Owner: Nguyen Le Duy Khang</p>
            <p>Ha Noi Branch: 102 Đ. Trần Phú, P. Mộ Lao, Hà Đông, TP.Hà Nội</p>
            <p>Ho Chi Minh Branch: 497 Hòa Hảo, Phường 7, Quận 10, TP.HCM</p>
          </div>
          <!-- <div class="col-12 col-md-4 text-start">
            <p>Order Support: 0935118607</p>
            <p>Hotline: 123456789JQK</p>
            <p>Email: nldkhang@gmail.com</p>
          </div> -->

          <div class="col-12 col-md-6">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61575185811123&tabs&width=340&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
        </div>
        <p style="font-size: 20px; margin-top:10px; margin-bottom: 0;">&copy; 2025 My Website. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>